<% js 'modal' %>

<div id="container">
    <article class="first">
        AAA
    </article>
    <article id="b">
        BBB
    </article>
</div>
<article class="kkk">
    CCC
</article>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-target="#myModal" data-toggle="modal" type="button">
    Launch demo modal
</button>

<hr>
<hr>
<hr>

<div class="container">
    <div class="form-group">
        <label for="inputsomething">Input something ...</label>
        <input class="form-control" placeholder="Input something ..." id="inputsomething">
    </div>
    <button id="to-submit" class="btn btn-default">Submit</button>
</div>
